  <div class="form-group">
    <%= simple_form_for @article do |a| %>
        <%= a.input :title, placeholder: 'What is your product' %>
        <%= a.input :description, placeholder: 'Describe your product' %>
        <div class="form-group string optional article_description">
          <label class="control-label string optional" for="article_description">Address</label>
            <%= text_field_tag(:address, '', { id:"autocomplete", placeholder: "Enter your address...", class: "form-control string optional"}) %>
        </div>
        <%= a.input :price %>
        <%= a.input :photo, label: false %>
        <%= a.input :photo_cache, as: :hidden %>
        <%= a.submit class: 'btn btn-success' %>
    <% end %>
  </div>

