<div class="col-xs-4 col-xs-offset-4">
  <div class="form-group">
    <%= simple_form_for @article do |a| %>
      <%= a.input :title %>
      <%= a.input :description %>
      <%= a.input :address %>
      <%= a.input :price %>
      <%= a.input :photo %>
      <%= a.input :photo_cache, as: :hidden %>
      <%= a.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
