  <div class="form-group">
    <%= simple_form_for @article do |a| %>
        <%= a.input :title, placeholder: 'What is your product' %>
        <%= a.input :description, placeholder: 'Describe your product' %>
        <%= a.input :address %>
        <%= a.input :price %>
        <%= a.input :photo, label: false %>
        <%= a.input :photo_cache, as: :hidden %>
        <%= a.submit class: 'btn btn-success' %>
    <% end %>
  </div>

