
<div class="container content_articles">
  <div class="cards">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" id="add" >
          <div class="icon-wrapper">
            <i class="fa fa-3x fa-plus-circle" aria-hidden="true" id="add_icon"></i>
          </div>
            <%= link_to "", new_article_path, class: 'card-link' %>
        </div>
      </div>
      <% @articles.each do |article|%>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai')"> -->
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
         url('<%= cl_image_path article.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category">
                <% if article.title.size > 12 %>
                  <p><%= article.title[0..12] %> . . .</p>
                <% else %>
                  <%= article.title %>
                <% end %>

              </div>
              <div class="card-description">
              <% if article.description.size > 12 %>
                <p><%= article.description[0..55] %> . . .</p>
              <% else %>
                <%= article.description %>
              <% end %>
              </div>
              <%= image_tag article.user.url_avatar, class: "card-user" %>
              <%= link_to "", article_path(article), class: "card-link" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="map-content">
    <div id="map"></div>
  </div>
</div>


<script>
function initMap() {
  // Create a map object and specify the DOM element for display.
  let map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 52.5206, lng: 13.4098},
    scrollwheel: false,
    zoom: 15
  });

  infoWindow = new google.maps.InfoWindow;

  if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
  infoWindow.open(map);
}
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Gmaps JavaScript -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_KEY"]%>&callback=initMap">
  </script>
