
<div class="container content_articles">
  <div class="cards">
    <div class="row">
      <div class="col-xs-12" id="da-search">
        <div class="search_plus_add">
          <input id="filter_box" type="text" class="form-control" placeholder="Filter. . .">
          <div class="btn btn-success" id="add_button">
            <%= link_to "Sell $", new_article_path() %>
          </div>
        </div>
        </br>
        <p> *Prices / pouch</p>
      </div>

      <% @articles.each do |article|%>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <!-- <div class="card" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai')"> -->
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
         url('<%= cl_image_path article.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category">
                <% if article.title.size > 12 %>
                  <p><%= article.title[0..9] %> . . .</p>
                <% else %>
                  <p id="the-drug"><%= article.title %></p>
                <% end %>
              </div>
              <div class="card-price">
              <h1><%= article.price.to_i %>$</h1>
              </div>

              <%= image_tag article.user.url_avatar || "https://api.adorable.io/avatars/#{Random.rand(250)}/", class: 'card-user' %>

              <%= link_to "#{article.description[0..54]} . . .", article_path(article), class: "card-link" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="map-content">
    <div id="map"></div>
    <% content_for(:after_js) do %>
      <script>

        $(document).ready(function() {

          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.icon() = "e";
            // if (markers.length == 0) {
            //   handler.getMap().setZoom(14);
            // } else if (markers.length == 1) {
            //   handler.getMap().setZoom(14);
            // }


            handler.getMap().setZoom(16);
            // pos = {lat: 52.5206, lng: 13.4098};
            // handler.getMap().setCenter(pos);
            // console.log((<%= raw @position_depart.to_json %>)["lat"]);
            if ((<%= raw @position_depart.to_json %>)["lat"] === null){
              infoWindow = handler.getMap().InfoWindow;

              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                  var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  handler.getMap().setCenter(pos);
                }, function() {
                  // handleLocationError(true, infoWindow, map.getCenter());
                });
              } else
              {
                // Browser doesn't support Geolocation
                // handleLocationError(false, infoWindow, map.getCenter());
              }

            } else {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);


            // console.log(<%= raw @position_depart.to_json %>);
            }






          });



        });
      </script>
    <% end %>
  </div>
</div>


<script>
// function initMap() {
//   // Create a map object and specify the DOM element for display.
//   let map = new google.maps.Map(document.getElementById('map'), {
//     center: {lat: 52.5206, lng: 13.4098},
//     scrollwheel: false,
//     zoom: 15
//   });

//   infoWindow = new google.maps.InfoWindow;

//   if (navigator.geolocation) {
//           navigator.geolocation.getCurrentPosition(function(position) {
//             var pos = {
//               lat: position.coords.latitude,
//               lng: position.coords.longitude
//             };

//             infoWindow.setPosition(pos);
//             infoWindow.setContent('Location found.');
//             infoWindow.open(map);
//             map.setCenter(pos);
//           }, function() {
//             handleLocationError(true, infoWindow, map.getCenter());
//           });
//         } else
//         {
//           // Browser doesn't support Geolocation
//           handleLocationError(false, infoWindow, map.getCenter());
//         }
// }


// function handleLocationError(browserHasGeolocation, infoWindow, pos) {
//   infoWindow.setPosition(pos);
//   infoWindow.setContent(browserHasGeolocation ?
//                         'Error: The Geolocation service failed.' :
//                         'Error: Your browser doesn\'t support geolocation.');
//   infoWindow.open(map);
// }

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- Gmaps JavaScript -->



<script>

let htmlArray =[];
  document.querySelectorAll('.card').forEach(card => {
      let htmlStart = {};
      htmlStart["style"] = card.style.backgroundImage.replace(/["|']/g, "");
      htmlStart["titre"] = card.querySelector(".card-category").innerText;
      htmlStart["price"] = card.querySelector(".card-price").innerText;
      htmlStart["avatar"] = card.querySelector(".card-user").src;
      htmlStart["link"] = card.querySelector(".card-link").href;
      htmlStart["description"] = card.querySelector(".card-link").innerText;
      htmlArray.push(htmlStart);
  });

  document.getElementById('filter_box').addEventListener('keyup', (event) => {

    document.querySelectorAll('.card').forEach(card => {
      card.remove();
    });
    htmlArray.forEach(card => {
      // console.log(card.innerText.split(' ')[0]);

      if (card["titre"].indexOf(event.target.value.toUpperCase()) > -1)
        {
      let item =  `<div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: ${card["style"]}">
              <div class="card-category">
                  <p id="the-drug">${card["titre"]}</p>
              </div>
              <div class="card-price">
              <h1>${card["price"]}</h1>
              </div>

              <img class="card-user" src="https://randomuser.me/api/portraits/women/45.jpg" alt="45">

              <a class="card-link" href="${card["link"]}">${card["description"]}</a>
          </div>
        </div>`

      document.getElementById("da-search").insertAdjacentHTML('afterend', item);
    }
    });
  });
</script>

