<div class="container">
  <div class="article-box">
    <div class="card-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @article.photo, height: 300, width: 400, crop: :fill %>')">
      <div class="card-show-title"><%= @article.title%></div>
      <!-- <img class="card-user-show" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
      <%= image_tag current_user.url_avatar || "https://api.adorable.io/avatars/#{Random.rand(250)}/", class: 'card-user-show' %>
    </div>
    <div class="inside-card">
      <div class="price">
       <h3>Description</h3>
       <div><%= @article.price.to_i %> $</div>
      </div>
      <hr>
      <div class="">
        <%= @article.description %>
       </div>
        <hr>
        <% if @article.user == current_user %>
          <%= link_to 'Delete article', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
        <% end %>

        <% if @article.user == current_user %>
          <%= link_to "Edit this article?", edit_article_path(@article), class: 'btn btn-warning' %>
        <% end %>
      <div class="form-group">
        <% unless @article.user == current_user %>
        <%= simple_form_for([@article, @order]) do |a| %>
          <div class="formassss">
          <div class="drop">
            <%= a.input :quantity, :collection => (1..10).to_a %>
          </div>
          <%= a.button :submit, class: 'btn btn-success' %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="reviews">
    <h3 id="reviews-header">Browse Reviews</h3>
    <% if @article.reviews.first.nil? %>
      <%= "No reviews yet" %>
    <% else %>
      <ul>
        <% @article.reviews.each do |review| %>
          <div class="list-inline reviews-content">
            <p><%= review.order.user.first_name %></p>
            <p class="rating"><% review.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
              <% end %>
            </p>
            <li><%= review.description.capitalize %></li>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>


<!-- [[1, 1], [2, 2]] -->

