<div class="container">
  <h2><%= @article.title %></h2>
</div>

<% if @article.user == current_user %>
  <%= link_to 'Delete article', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
<% end %>

<% if @article.user == current_user %>
  <%= link_to "Edit this article?", edit_article_path(@article), class: 'btn btn-warning' %>
<% end %>

 <div class="form-group">
  <% unless @article.user == current_user %>
  <%= simple_form_for([@article, @order]) do |a| %>
    <%= a.input :quantity, :collection => (1..10).to_a %>
    <%= a.button :submit, class: 'btn btn-primary' %>
  <% end %>
  <% end %>
</div>

<!-- [[1, 1], [2, 2]] -->

