<h1>Liste de mes ventes</h1>

<ul>
  <% @orders.each do |order| %>
  <li>
    <%= order.quantity %>
    <%= order.article.title %>
    <%= order.confirmed %>
    <%= order.delivered %>
    <% if order.delivered == "pending" %>
      <%= link_to "Confirmed", orders_sell_confirmed_path(order.id), method: :patch %>
    <% end %>
    <% if order.confirmed == "pending" %>
      <%= link_to "Cancel", orders_sell_cancel_path(order.id), method: :patch %>
    <% end %>
  </li>
  <% end %>
</ul>
