<h1>Liste de mes achats</h1>

<ul>
  <% @orders.each do |order| %>
  <li>
    <%= order.quantity %>
    <%= order.article.title %>
    <%= order.confirmed ? "confirmed" : "pending" %>
    <%= order.delivered ? "delivered" : "pending" %>
    <% if order.reviews.first.nil? %>
      <%= link_to "Review this order", new_order_review_path(order, @review), class: 'btn btn-warning' %>
    <% else %>
      <%= "Already reviewed" %>
    <% end %>
  </li>
  <% end %>
</ul>
