<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Herbnb: the simplest way to get weed</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
    <div class="footer">
    <div class="footer-logo">
      <img src="/assets/logo-herbnb-89177e020590af1a9ea96acd083ed5920b86317c4316bb517628b0ae25d70e7a.png" alt="Logo herbnb">
    </div>
    <div class="footer-links">
      <ul class="list-unstyled">
      <div class="links-container">
          <li><a class="link1" target="_blank" href="https://www.cannaweed.com/">About Weed </a></li>
          <li><a class="link2" target="_blank" href="https://www.youtube.com/watch?v=BUxQeY2xmH0&list=PLnPDn1Lb79JGoFey4EPwAvxW4tbyzbz0p">!Have fun!</a></li>
        </ul>
      </div>
    </div>
  </div>
</html>
